.comment-box {
  background-color: rgb(243, 242, 242);
  border: 1px solid wheat;
  border-radius: 15%;
  margin-bottom: 9px;
  padding: 10px;
}

.comment-writer-userName {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin-left: 15px;
}
.comment-text {
  margin: 5px 25px 0 0;
}
