.tempBox {
  padding: 10px;
  border: 1px solid rgba(216, 216, 216, 0.685);
  border-radius: 5px;
  width: 10rem;
  height: 18rem;
  margin: auto;
}

.tempBox:hover {
  background-color: rgba(255, 94, 0, 0.11);
  border: 0;
}

.template {
  position: absolute;
  color: black;
}
.thumbnail {
  position: relative;
}

.temp-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.temp-userName {
  padding-right: 5px;
  margin-top: 10px;
  display: inline-block;
  font-size: 1rem;
}
.temp-time {
  position: absolute;
  font-size: 0.8rem;
  top: 70px;
  right: 10px;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(53, 52, 52);
  color: azure;
}
.temp-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.temp-description {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  text-align: justify;
}
