.form-box {
  background-color: #968c7e36;
  text-align: center;
  justify-content: center;

  margin: auto;
}
.upload-form {
  background-color: aqua;
  max-width: 500px;
  margin: auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload {
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.upload label {
  display: block;
  color: rgb(0, 0, 0);
}

.perview {
  text-align: center;
}
.upload-link {
  text-decoration: none;
  color: black;
  margin: auto;
}
/* --------------------------------------------- */
.link-box {
  border-radius: 10px;
  padding: 5px;

  height: 80px;
  display: inline-block;
}
.link-box:hover .upload-link {
  text-decoration: none;
  color: rgb(255, 130, 57);
  transition: 0.5s;
}
.upload-link:not(:hover) {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 1s;
}

.link-box:hover {
  background-color: rgb(230, 230, 230);
  transition: 1s;
}
.link-box:not(:hover) {
  background-color: rgb(255, 255, 255);
  transition: 1s;
}
.box {
  margin: 10px;
  display: inline-block;
  border-radius: 15px;
}
.link {
  text-decoration: none;
  color: rgb(148, 154, 160);
}
.box:hover .link {
  color: rgb(9, 53, 150);
  transition: 1s;
}
.box:not(:hover) .link {
  transition: 1s;
}
